<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adrian's Website</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Personal CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
  <!-- Start of Nav Bar-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Adrian's Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./aboutme.html">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./sports.html">Sports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./movies.html">Movies</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Music
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./hiphop.html">Hip-Hop</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./r&b.html">R&B</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./spanish.html">Spanish</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div> 
  </nav>
  <!-- End of Nav Bar-->

  <!-- Start of Carousel-->
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../public/img/computer.png" class="d-block w-100" alt="slide1">
      </div>
      <div class="carousel-item">
        <img src="../public/img/recordplayer.jpeg" class="d-block w-100" alt="slide2">
      </div>
      <div class="carousel-item">
        <img src="../public/img/spursalamo.avif" class="d-block w-100" alt="slide3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- End of Carousel-->

  <hr>

  <!-- Start of Intro-->
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="../public/img/basketball.gif" alt="basketball" width="130" height="150">
      </div>
      <div class="col-8 text-center">
        <h1>WELCOME TO MY WEBSITE!</h1>
        <br>
        <p>Hello! This is my first website that I created using Bootstrap5 as well as other tools. This website includes some of my favorite stuff that I like and that I want to share with y'all so I hope you like it! </p>
      </div>
      <div class="col-2">
        <img src="../public/img/basketball.gif" alt="basketball" width="130" height="150">
      </div>
    </div>
  </div>
  <!-- End of Intro-->

  <hr>

  
  <br>
  <br>
  <br>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>